<div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 bordered">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-green-sharp">
                                            <span data-counter="counterup">[[dashboardInfo.total_un_device]]</span>
                                        </h3>
                                        <small>UNASSIGNED DEVICES</small>
                                    </div>
                                    <div class="icon">
                                        <i class="icon-layers"></i>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat2 bordered">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-red-haze">
                                            <span data-counter="counterup">[[dashboardInfo.total_device]]</span>
                                        </h3>
                                        <small>TOTAL DEVICES</small>
                                    </div>
                                    <div class="icon">
                                        <i class="icon-layers"></i>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat2 bordered">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-blue-haze">
                                            <span data-counter="counterup">[[dashboardInfo.total_customer]]</span>
                                        </h3>
                                        <small>TOTAL CUSTOMERS</small>
                                    </div>
                                    <div class="icon">
                                        <i class="icon-users"></i>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat2 bordered">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-green-haze">
                                            <span data-counter="counterup">0</span>
                                        </h3>
                                        <small>NEW MESSAGES</small>
                                    </div>
                                    <div class="icon">
                                        <i class="icon-like"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- another dashboard states -->
                    <div class="clearfix"></div>
                    <div class="row">
                        
                        <div class="col-lg-6 col-xs-12 col-sm-12">

                            <!-- BEGIN PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-bar-c    hart font-dark hide"></i>
                                        <span class="caption-subject font-dark bold uppercase">Customers</span>
                                        <span class="caption-helper"></span>
                                    </div>
                                    <div class="actions">
                                       
                                    </div>
                                </div>
                                <div class="portlet-body">
                                   <div id="site_statistics_content">
                                        <div id="chartdiv" class="chart"> </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PORTLET-->
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-12">
                             <!-- BEGIN PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-bar-chart font-dark hide"></i>
                                        <span class="caption-subject font-dark bold uppercase">Devices</span>
                                    </div>
                                    <div class="actions">
                                    </div>
                                </div>
                                <div class="portlet-body">
                                   <div id="site_statistics_content">
                                        <div id="chartdiv2" class="chart"> </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PORTLET-->
                        </div>
                    </div>