<style type="text/css">
  .dataTables_length{
    margin-top: 10px;
  }
</style>
<div class="">
  <!--Start leads inner-menu seaction-->
  <div class="page-inner-menu">
    <ul class="list-inline list-unstyle ">
      <li ng-class="{'active': isActive(['/classified'])}">
        <a href="manage/classified">DASHBOARD > FEEDBACKS </a>
      </li>
    </ul>
  </div>
  <!--End leads inner-menu seaction-->
  <div class="clearfix"></div>
  <!--Start Active lead seaction-->
  <div class="row">
    <div class="col-sm-12 margin-top-20">
      <div class="portlet light bordered content-filter">
        <div class="portlet-title">
          <div class="caption">
            <span class="caption-subject bold uppercase ">
             FEEDBACKS
            </span>
          </div>
          	
        </div>
        <div class="portlet-body">
        	<P>COMING SOON..</P>
        </div>
      </div>
    </div>
  </div>
</div>